[Desktop Entry]
Version=1.0
Type=Application
Name=MPS
Comment=DSL IDE
Exec=env MPS_JDK={{jdk_global_jdk_directory}} {{ansible_user_dir}}/Software/mps/bin/mps.sh
Icon={{ansible_user_dir}}/Software/mps/bin/MPS_128.png
Path=
Terminal=false
StartupNotify=true
